* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
/*///////////////////////////////////////////////*/
.header {
    background: #ffffff;
    width: 100%;
    height: 250px;
}
/*/////////////////////////////////*/
.yellow {
    opacity: 0.8;
    background: #ffd04f;
    width: 20%;
    height: 1100px;
    display: block;
    margin-left: 5%;
}
.yellow-corect {
    opacity: 0.8;
    padding-top: 40px;
    color: #ffffff;
    list-style-type: none;
    font-family:Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 1;
    z-index: 100;!important;
    position: relative;
}
.a {
    text-align: center;
    font-size: 120px;
    opacity: 1;!important;
}
.b {
    text-align: center;
    font-size: 35px;
    opacity: 1;!important;
}
/*/////////////////////////////////*/
.yellow-corect-a {
    color: #ffffff;
    list-style-type: none;
    font-family:Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 1;
    z-index: 100;!important;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 230px;
    position: relative;
}
.c {
    background:#ffffff;
    width: 72px;
    height: 20px;
    opacity: 1;!important;

}
.d {
    text-align: left;
    padding-top: 20px;
    font-size: 30px;
    opacity: 1;!important;

}
/*/////////////////////////////////*/
.yellow-corect-b {
    color: #ffffff;
    list-style-type: none;
    font-family:Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 1;
    z-index: 100;!important;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 135px;
    position: relative;
}
.i {
    text-align: left;
    padding-top: 20px;
    font-size: 35px;
    opacity: 1;!important;
    line-height: 1.3;
}
.f {
    text-align: left;
    font-size: 35px;
    opacity: 1;!important;
    line-height: 1.3;
}
/*/////////////////////////////////*/
.black {
    background: #232931;
    width: 25%;
    height: 468px;
    display: block;
    z-index: 100;!important;
    position: relative;
}
.black-corect-a {
    list-style-type: none;
    padding-left: 90px;
    padding-top: 85px;
}
li a {
    text-decoration: none;
    font-family:Geneva, Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 3.5;
    text-align: left;
}
li a:hover {
    color: red;
}
.locat a {
    color: #ffffff;
}
.phone a {
    color: #ffffff;
}
.email a {
    color: #ffffff;
}
.site a {
    color: #dcae27;
}
.locat .material-icons {
    color: #ffffff;
    font-size: 35px;
}
.phone .material-icons {
    color: #ffffff;
    font-size: 35px;
}
.email .material-icons {
    color: #ffffff;
    font-size: 35px;
}
/*/////////////////////////////////*/
.name-header {
    width: 45%;
    height: 0px;
}
.name-header-corect {
    color: #ffd04f;
    list-style-type: none;
    font-family:Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-align: right;
}
/*/////////////////////////////////*/
.name-header-corect-a {
    position: relative;
    left: 860px;
    bottom: 180px;
}
/*/////////////////////////////////*/
.block-header {
    width: 130px;
    height: 140px;
    background: #ffd04f;
    position: relative;
    left: 1720px;
    bottom: 250px;
}
/*/////////////////////////////////*/
.name-header-corect-b {
    position: relative;
    left: 860px;
    bottom: 310px;
}
/*///////////////////////////////////////////////*/
.content {
    width: 100%;
    height: 500px;
}
/*/////////////////////////////////*/
#slider{
    width:100%;
    height:500px;
    position:relative;
    overflow:hidden;
}
.slides{
    width:400%;
    height:100%;
    position:relative;
    -webkit-animation:slide 30s infinite;
    -moz-animation:slide 30s infinite;
    animation:slide 30s infinite;
}
.slider{
    width:25%;
    height:100%;
    float:left;
    position:relative;
    z-index:-1;!important;
    overflow:hidden;
}
.slide img{
    width:100%;
    height:100%;
}
.slide img{
    width:100%;
    height:100%;
}
.image{
    width:100%;
    height:100%;
}
.image img{
    width:60%;
    height:100%;
}
/* Animation */
@-webkit-keyframes slide{
    0%,100%{
        margin-left:0%;
    }
    21%{
        margin-left:0%;
    }
    25%{
        margin-left:-100%;
    }
    46%{
        margin-left:-100%;
    }
    50%{
        margin-left:-200%;
    }
    71%{
        margin-left:-200%;
    }
    75%{
        margin-left:-300%;
    }
    96%{
        margin-left:-300%;
    }
}
@-moz-keyframes slide{
    0%,100%{
        margin-left:0%;
    }
    21%{
        margin-left:0%;
    }
    25%{
        margin-left:-100%;
    }
    46%{
        margin-left:-100%;
    }
    50%{
        margin-left:-200%;
    }
    71%{
        margin-left:-200%;
    }
    75%{
        margin-left:-300%;
    }
    96%{
        margin-left:-300%;
    }
}
@keyframes slide{
    0%,100%{
        margin-left:0%;
    }
    21%{
        margin-left:0%;
    }
    25%{
        margin-left:-100%;
    }
    46%{
        margin-left:-100%;
    }
    50%{
        margin-left:-200%;
    }
    71%{
        margin-left:-200%;
    }
    75%{
        margin-left:-300%;
    }
    96%{
        margin-left:-300%;
    }
}
/* Slider */
#slider{
    width:100%;
    height:500px;
    position:relative;
    overflow:hidden;
}
.slides{
    width:400%;
    height:100%;
    position:relative;
    -webkit-animation:slide 30s infinite;
    -moz-animation:slide 30s infinite;
    animation:slide 30s infinite;
}
.slide img{
    width:100%;
    height:100%;
}
.slide img{
    width:100%;
    height:100%;
}
.image{
    width:100%;
    height:100%;
}
.image img{
    width:100%;
    height:100%;
}
@-webkit-keyframes slide{
    0%,100%{
        margin-left:0%;
    }
    21%{
        margin-left:0%;
    }
    25%{
        margin-left:-100%;
    }
    46%{
        margin-left:-100%;
    }
    50%{
        margin-left:-200%;
    }
    71%{
        margin-left:-200%;
    }
    75%{
        margin-left:-300%;
    }
    96%{
        margin-left:-300%;
    }
}
@-moz-keyframes slide{
    0%,100%{
        margin-left:0%;
    }
    21%{
        margin-left:0%;
    }
    25%{
        margin-left:-100%;
    }
    46%{
        margin-left:-100%;
    }
    50%{
        margin-left:-200%;
    }
    71%{
        margin-left:-200%;
    }
    75%{
        margin-left:-300%;
    }
    96%{
        margin-left:-300%;
    }
}
@keyframes slide {
    0%, 100% {
        margin-left: 0%;
    }
    21% {
        margin-left: 0%;
    }
    25% {
        margin-left: -100%;
    }
    46% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    71% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    96% {
        margin-left: -300%;
    }
}
.logo img{
    width:100%;
    height:100%;
}
nav li{
    width:auto;
    margin-right:20px;
    float:left;
}
nav li a{
    font-family:Arial;
    font-size:16px;
    color:#fff;
    line-height:80px;
}
nav select{
    width:150px;
    height:30px;
    margin-top:25px;
    font-family:Arial;
    font-size:14px;
    color:#666;
    border:2px solid #aaa;
    padding-left:10px;
}
nav select:focus{
    outline:none;
}
/*///////////////////////////////////////////////*/
.footer {
    width: 100%;
    height: 650px;
    background: url(../img/short-or-long-coffee.jpg) center center no-repeat;
    background-size: cover;
    z-index: -1;!important;
}
/*/////////////////////////////////*/
.footer-bag {
    opacity: 0.9;
    background: #92c8df;
    height: 800px;
    width: 75%;
    float: right;
}
.footer-bag-corect {
    list-style-type: none;
    font-family:Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 1;
    z-index: 100;!important;
    margin-right: 150px;
    margin-top: 50px;
}
.footer-bag-corect-a {
    color: #ffffff;
    font-size: 85px;
    float: right;
    text-align: right;
    line-height: 1.1;
}
.footer-bag-corect-b {
    color: #ffffff;
    font-size: 30px;
    float: right;
    text-align: right;
    line-height: 1.1;
    margin-top: 20px;
}
.footer-bag-corect-c {
    color: #232931;
    font-size: 30px;
    float: right;
    text-align: right;
    margin-top: 20px;
    line-height: 1.1;
}
.footer-bag-corect-d {
    margin-top: 700px;
}
.footer-bag-corect-d a i {
    color:#ffffff;!important;
    font-size: 70px;!important;
    display: inline-block;
    height: 70px;

}
.footer-bag-corect-d a {
    margin-left: 220px;
}
.footer-bag-corect-d a i:hover {
    color: #f1ff36;
}
.footer-bag-corect-f {
    height: 150px;

}
/*///////////////////////////////////////////////*/
@media only screen and (max-width: 1366px) {
    .yellow {
        opacity: 0.8;
        background: #ffd04f;
        width: 20%;
        height: 1100px;
        display: block;
        margin-left: 5%;
    }
    .yellow-corect {
        opacity: 0.8;
        padding-top: 60px;
        color: #ffffff;
        list-style-type: none;
        font-family:Geneva, Arial, Helvetica, sans-serif;
        font-weight: bold;
        line-height: 1;
        z-index: 100;!important;
        position: relative;
    }
    .a {
        text-align: center;
        font-size: 90px;
        opacity: 1;!important;
    }
    .b {
        text-align: center;
        font-size: 25px;
        opacity: 1;!important;
    }
    /*//////////////////////////////////*/
    .yellow-corect-a {
        color: #ffffff;
        list-style-type: none;
        font-family:Geneva, Arial, Helvetica, sans-serif;
        font-weight: bold;
        line-height: 1;
        z-index: 100;!important;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 370px;
        position: relative;
    }
    .c {
        background:#ffffff;
        width: 55px;
        height: 20px;
        opacity: 1;!important;

    }
    .d {
        text-align: left;
        padding-top: 20px;
        font-size: 19px;
        opacity: 1;!important;

    }
    /*/////////////////////////////////*/
    .yellow-corect-b {
        color: #ffffff;
        list-style-type: none;
        font-family:Geneva, Arial, Helvetica, sans-serif;
        font-weight: bold;
        line-height: 1;
        z-index: 100;!important;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 135px;
        position: relative;
    }
    .i {
        text-align: left;
        padding-top: 20px;
        font-size: 25px;
        opacity: 1;!important;
        line-height: 1.3;
    }
    .f {
        text-align: left;
        font-size: 25px;
        opacity: 1;!important;
        line-height: 1.3;
    }
    /*/////////////////////////////////*/
    .black {
        background: #232931;
        width: 24.9%;
        height: 450px;
        display: block;
        z-index: 100;!important;
        position: relative;
    }
    .black-corect-a {
        list-style-type: none;
        padding-left: 60px;
        padding-top: 70px;
    }
    li a {
        text-decoration: none;
        font-family:Geneva, Arial, Helvetica, sans-serif;
        font-size: 20px;
        line-height: 4;
        text-align: left;
    }
    li a:hover {
        color: red;
    }
    .locat a {
        color: #ffffff;
    }
    .phone a {
        color: #ffffff;
    }
    .email a {
        color: #ffffff;
    }
    .site a {
        color: #dcae27;
    }
    .locat .material-icons {
        color: #ffffff;
        font-size: 25px;
    }
    .phone .material-icons {
        color: #ffffff;
        font-size: 25px;
    }
    .email .material-icons {
        color: #ffffff;
        font-size: 25px;
    }
    /*/////////////////////////////////*/
    .name-header {
        width: 45%;
        height: 0px;
    }
    .name-header-corect {
        color: #ffd04f;
        list-style-type: none;
        font-family:Geneva, Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 40px;
        text-align: right;
        line-height: 1.9;
    }
    /*/////////////////////////////////*/
    .name-header-corect-a {
        position: relative;
        left: 600px;
        bottom: 180px;
    }
    /*/////////////////////////////////*/
    .block-header {
        width: 100px;
        height: 90px;
        background: #ffd04f;
        position: relative;
        left: 1200px;
        bottom: 250px;
    }
    /*/////////////////////////////////*/
    .name-header-corect-b {
        position: relative;
        left: 600px;
        bottom: 310px;
    }
    /*/////////////////////////////////*/
    .footer-bag {
        opacity: 0.9;
        background: #92c8df;
        height: 800px;
        width: 75.1%;
        float: right;
    }
    .footer-bag-corect {
        list-style-type: none;
        font-family:Geneva, Arial, Helvetica, sans-serif;
        font-weight: bold;
        line-height: 1;
        z-index: 100;!important;
        margin-right: 80px;
        margin-top: 25px;
    }
    .footer-bag-corect-a {
        color: #ffffff;
        font-size: 75px;
        float: right;
        text-align: right;
        line-height: 1.3;
    }
    .footer-bag-corect-b {
        color: #ffffff;
        font-size: 25px;
        float: right;
        text-align: right;
    }
    .footer-bag-corect-c {
        color: #232931;
        font-size: 25px;
        float: right;
        text-align: right;
        margin-top: 40px;
    }
    .footer-bag-corect-d {
        margin-top: 700px;
    }
    .footer-bag-corect-d a i {
        color:#ffffff;!important;
        font-size: 65px;!important;
        display: inline-block;
        height: 70px;

    }
    .footer-bag-corect-d a {
        margin-left: 145px;
    }
    .footer-bag-corect-d a i:hover {
        color: #f1ff36;
    }
    .footer-bag-corect-f {
        height: 150px;

    }
}
@media only screen and (max-width: 1024px) {
    .yellow {
        opacity: 0.8;
        background: #ffd04f;
        width: 20%;
        height: 1100px;
        display: block;
        margin-left: 5%;
    }
    .yellow-corect {
        opacity: 0.8;
        padding-top: 60px;
        color: #ffffff;
        list-style-type: none;
        font-family:Geneva, Arial, Helvetica, sans-serif;
        font-weight: bold;
        line-height: 1;
        z-index: 100;!important;
        position: relative;
    }
    .a {
        text-align: center;
        font-size: 420%;
        opacity: 1;!important;
    }
    .b {
        text-align: center;
        font-size: 130%;
        opacity: 1;!important;
    }
    /*//////////////////////////////////*/
    .yellow-corect-a {
        color: #ffffff;
        list-style-type: none;
        font-family:Geneva, Arial, Helvetica, sans-serif;
        font-weight: bold;
        line-height: 1;
        z-index: 100;!important;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 370px;
        position: relative;
    }
    .c {
        background:#ffffff;
        width: 55px;
        height: 20px;
        opacity: 1;!important;

    }
    .d {
        text-align: left;
        padding-top: 20px;
        font-size: 100%;
        opacity: 1;!important;

    }
    /*/////////////////////////////////*/
    .yellow-corect-b {
        color: #ffffff;
        list-style-type: none;
        font-family:Geneva, Arial, Helvetica, sans-serif;
        font-weight: bold;
        line-height: 1;
        z-index: 100;!important;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 135px;
        position: relative;
    }
    .i {
        text-align: left;
        padding-top: 20px;
        font-size: 130%;
        opacity: 1;!important;
        line-height: 1.3;
    }
    .f {
        text-align: left;
        font-size: 130%;
        opacity: 1;!important;
        line-height: 1.3;
    }
    /*/////////////////////////////////*/
    .black {
        background: #232931;
        width: 24.9%;
        height: 450px;
        display: block;
        z-index: 100;!important;
        position: relative;
    }
    .black-corect-a {
        list-style-type: none;
        padding-left: 12%;
        padding-top: 15%;
    }
    li a {
        text-decoration: none;
        font-family:Geneva, Arial, Helvetica, sans-serif;
        font-size: 80%;
        line-height: 4;
        text-align: left;
    }
    li a:hover {
        color: red;
    }
    .locat a {
        color: #ffffff;
    }
    .phone a {
        color: #ffffff;
    }
    .email a {
        color: #ffffff;
    }
    .site a {
        color: #dcae27;
    }
    .locat .material-icons {
        color: #ffffff;
        font-size: 90%;
    }
    .phone .material-icons {
        color: #ffffff;
        font-size: 90%;
    }
    .email .material-icons {
        color: #ffffff;
        font-size: 90%;
    }
    /*/////////////////////////////////*/
    .name-header {
        width: 60%;
        height: 0px;
    }
    .name-header-corect {
        color: #ffd04f;
        list-style-type: none;
        font-family:Geneva, Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 200%;
        text-align: right;
        line-height: 255%;
    }
    /*/////////////////////////////////*/
    .name-header-corect-a {
        position: relative;
        left: 50%;
        bottom: 180px;
    }
    /*/////////////////////////////////*/
    .block-header {
        width: 100px;
        height: 90px;
        background: #ffd04f;
        position: relative;
        left: 150%;
        bottom: 250px;
    }
    /*/////////////////////////////////*/
    .name-header-corect-b {
        position: relative;
        left: 50%;
        bottom: 310px;
    }
    /*/////////////////////////////////*/
    .footer-bag {
        opacity: 0.9;
        background: #92c8df;
        height: 800px;
        width: 75.1%;
        float: right;
    }
    .footer-bag-corect {
        list-style-type: none;
        font-family:Geneva, Arial, Helvetica, sans-serif;
        font-weight: bold;
        line-height: 1;
        z-index: 100;!important;
        margin-right: 80px;
        margin-top: 25px;
    }
    .footer-bag-corect-a {
        color: #ffffff;
        font-size: 360%;
        float: right;
        text-align: right;
        line-height: 1.3;
    }
    .footer-bag-corect-b {
        color: #ffffff;
        font-size: 110%;
        float: right;
        text-align: right;
    }
    .footer-bag-corect-c {
        color: #232931;
        font-size: 110%;
        float: right;
        text-align: right;
        margin-top: 40px;
    }
    .footer-bag-corect-d {
        margin-top: 700px;
    }
    .footer-bag-corect-d a i {
        color:#ffffff;!important;
        font-size: 270%;!important;
        display: inline-block;
        height: 70px;

    }
    .footer-bag-corect-d a {
        margin-left: 15%;
    }
    .footer-bag-corect-d a i:hover {
        color: #f1ff36;
    }
    .footer-bag-corect-f {
        height: 150px;

    }
}
@media only screen and (max-width: 768px) {
    /*///////////////////////////////////////////////*/
    .header {
        background: #ffffff;
        width: 100%;
        height: 1130px;
    }
    /*/////////////////////////////////*/
    .yellow {
        opacity: 0.8;
        background: #ffd04f;
        width: 100%;
        height: 650px;
        display: block;
        margin-left: 0;
    }
    .yellow-corect {
        opacity: 0.8;
        padding-top: 5px;
        color: #ffffff;
        list-style-type: none;
        font-family:Geneva, Arial, Helvetica, sans-serif;
        font-weight: bold;
        line-height: 1;
        z-index: 100;!important;
        position: relative;
    }
    .a {
        text-align: center;
        font-size: 180px;
        opacity: 1;!important;
    }
    .b {
        text-align: center;
        font-size: 50px;
        opacity: 1;!important;
    }
    /*//////////////////////////////////*/
    .yellow-corect-a {
        color: #ffffff;
        list-style-type: none;
        font-family:Geneva, Arial, Helvetica, sans-serif;
        font-weight: bold;
        line-height: 1;
        z-index: 100;!important;
        padding-left: 3%;
        padding-top: 20px;
        position: relative;
    }
    .c {
        background: #ffffff;
        width: 40px;
        height: 17px;
        opacity: 1;

    }
    .d {
        text-align: left;
        padding-top: 10px;
        font-size: 25px;
        opacity: 1;!important;

    }
    /*/////////////////////////////////*/
    .yellow-corect-b {
        color: #ffffff;
        list-style-type: none;
        font-family:Geneva, Arial, Helvetica, sans-serif;
        font-weight: bold;
        line-height: 1;
        z-index: 100;!important;
        padding-left: 3%;
        padding-top: 20px;
        position: relative;
    }
    .i {
        text-align: left;
        padding-top: 10px;
        font-size: 40px;
        opacity: 1;!important;
        line-height: 1.3;
    }
    .f {
        text-align: left;
        font-size: 40px;
        opacity: 1;!important;
        line-height: 1.3;
    }
    /*/////////////////////////////////*/
    .black {
        background: #232931;
        width: 100%;
        height: 350px;
        display: inline-block;
        z-index: 100;!important;
        position: relative;
        margin-top: 130px;
    }
    .black-corect-a {
        list-style-type: none;
        padding-top: 0px;
        margin-left: 10%;
    }
    li a {
        text-decoration: none;
        font-family:Geneva, Arial, Helvetica, sans-serif;
        font-size: 30px;
        height: 30px;
        text-align: center;
        display: inline-block;
    }
    li a:hover {
        color: red;
    }
    .locat a {
        color: #ffffff;
    }
    .phone a {
        color: #ffffff;
    }
    .email a {
        color: #ffffff;
    }
    .site a {
        color: #dcae27;
    }
    .locat .material-icons {
        color: #ffffff;
        font-size: 30px;
    }
    .phone .material-icons {
        color: #ffffff;
        font-size: 30px;
    }
    .email .material-icons {
        color: #ffffff;
        font-size: 30px;
    }
    /*/////////////////////////////////*/
    .name-header {
        width: 100%;
        height: 0px;
    }
    .name-header-corect {
        color: #ffd04f;
        list-style-type: none;
        font-family:Geneva, Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 30px;
        text-align: right;
        line-height: 1.9;
    }
    /*/////////////////////////////////*/
    .name-header-corect-a {
        position: relative;
        left: -200px;
        bottom: 460px;
    }
    /*/////////////////////////////////*/
    .block-header {
        width: 70px;
        height: 70px;
        background: #ffd04f;
        position: relative;
        left: 580px;
        bottom: 505px;
    }
    /*/////////////////////////////////*/
    .name-header-corect-b {
        position: relative;
        left: -200px;
        bottom: 550px;
    }
    /*///////////////////////////////////////////////*/
    .content {
        width: 100%;
        height: 300px;
    }
    /*/////////////////////////////////*/
    #slider{
        width:100%;
        height:600px;
        position:relative;
        overflow:hidden;
    }
    .slides{
        width:400%;
        height:50%;
        position:relative;
        -webkit-animation:slide 30s infinite;
        -moz-animation:slide 30s infinite;
        animation:slide 30s infinite;
    }
    .slider{
        width:25%;
        height:100%;
        float:left;
        position:relative;
        z-index:-1;!important;
        overflow:hidden;
    }
    .slide img{
        width:100%;
        height:100%;
    }
    .slide img{
        width:100%;
        height:100%;
    }
    .image{
        width:100%;
        height:100%;
    }
    .image img{
        width:60%;
        height:100%;
    }
    /* Animation */
    @-webkit-keyframes slide{
        0%,100%{
            margin-left:0%;
        }
        21%{
            margin-left:0%;
        }
        25%{
            margin-left:-100%;
        }
        46%{
            margin-left:-100%;
        }
        50%{
            margin-left:-200%;
        }
        71%{
            margin-left:-200%;
        }
        75%{
            margin-left:-300%;
        }
        96%{
            margin-left:-300%;
        }
    }
    @-moz-keyframes slide{
        0%,100%{
            margin-left:0%;
        }
        21%{
            margin-left:0%;
        }
        25%{
            margin-left:-100%;
        }
        46%{
            margin-left:-100%;
        }
        50%{
            margin-left:-200%;
        }
        71%{
            margin-left:-200%;
        }
        75%{
            margin-left:-300%;
        }
        96%{
            margin-left:-300%;
        }
    }
    @keyframes slide{
        0%,100%{
            margin-left:0%;
        }
        21%{
            margin-left:0%;
        }
        25%{
            margin-left:-100%;
        }
        46%{
            margin-left:-100%;
        }
        50%{
            margin-left:-200%;
        }
        71%{
            margin-left:-200%;
        }
        75%{
            margin-left:-300%;
        }
        96%{
            margin-left:-300%;
        }
    }
    /* Slider */
    #slider{
        width:100%;
        height:600px;
        position:relative;
        overflow:hidden;
    }
    .slides{
        width:400%;
        height:50%;
        position:relative;
        -webkit-animation:slide 30s infinite;
        -moz-animation:slide 30s infinite;
        animation:slide 30s infinite;
    }
    .slide img{
        width:100%;
        height:100%;
    }
    .slide img{
        width:100%;
        height:100%;
    }
    .image{
        width:100%;
        height:100%;
    }
    .image img{
        width:100%;
        height:100%;
    }
    @-webkit-keyframes slide{
        0%,100%{
            margin-left:0%;
        }
        21%{
            margin-left:0%;
        }
        25%{
            margin-left:-100%;
        }
        46%{
            margin-left:-100%;
        }
        50%{
            margin-left:-200%;
        }
        71%{
            margin-left:-200%;
        }
        75%{
            margin-left:-300%;
        }
        96%{
            margin-left:-300%;
        }
    }
    @-moz-keyframes slide{
        0%,100%{
            margin-left:0%;
        }
        21%{
            margin-left:0%;
        }
        25%{
            margin-left:-100%;
        }
        46%{
            margin-left:-100%;
        }
        50%{
            margin-left:-200%;
        }
        71%{
            margin-left:-200%;
        }
        75%{
            margin-left:-300%;
        }
        96%{
            margin-left:-300%;
        }
    }
    @keyframes slide {
        0%, 100% {
            margin-left: 0%;
        }
        21% {
            margin-left: 0%;
        }
        25% {
            margin-left: -100%;
        }
        46% {
            margin-left: -100%;
        }
        50% {
            margin-left: -200%;
        }
        71% {
            margin-left: -200%;
        }
        75% {
            margin-left: -300%;
        }
        96% {
            margin-left: -300%;
        }
    }
    .logo img{
        width:100%;
        height:100%;
    }
    nav li{
        width:auto;
        margin-right:20px;
        float:left;
    }
    nav li a{
        font-family:Arial;
        font-size:16px;
        color:#fff;
        line-height:80px;
    }
    nav select{
        width:150px;
        height:30px;
        margin-top:25px;
        font-family:Arial;
        font-size:14px;
        color:#666;
        border:2px solid #aaa;
        padding-left:10px;
    }
    nav select:focus{
        outline:none;
    }
    /*///////////////////////////////////////////////*/
    .footer {
        width: 100%;
        height: 570px;
        background: url(../img/short-or-long-coffee.jpg) center center no-repeat;
        background-size: cover;
        z-index: -1;!important;
    }
    /*/////////////////////////////////*/
    .footer-bag {
        opacity: 0.9;
        background: #92c8df;
        height: 640px;
        width: 100%;
    }
    .footer-bag-corect {
        list-style-type: none;
        font-family:Geneva, Arial, Helvetica, sans-serif;
        font-weight: bold;
        line-height: 1;
        z-index: 100;!important;
        margin-right: 45px;
        margin-top: 15px;
    }
    .footer-bag-corect-a {
        color: #ffffff;
        font-size: 90px;
        float: right;
        text-align: right;
        line-height: 1.2;
    }
    .footer-bag-corect-b {
        color: #ffffff;
        font-size: 20px;
        float: right;
        text-align: right;
        margin-top: 15px;
    }
    .footer-bag-corect-c {
        color: #232931;
        font-size: 20px;
        float: right;
        text-align: right;
        margin-top: 15px;
    }
    .footer-bag-corect-d {
        margin-top: 590px;
    }
    .footer-bag-corect-d a i {
        color:#ffffff;!important;
        font-size: 35px;!important;
        display: inline-block;
        height: 50px;
    }
    .footer-bag-corect-d a {
        margin-left: 125px;
    }
    .footer-bag-corect-d a i:hover {
        color: #f1ff36;
    }
    .footer-bag-corect-f {
        height: 70px;

    }
}

